body{
	background: #F7F8E0;
}
h1{
	position: absolute;
	left: 48%
}
#contener{
	background-image: url(her1.jpg);
	background-size: cover;
	position: absolute;
	top:12%;
	left: 32.5%;
	width: 35%;
	height: 85%;
	border:solid;
	animation-name: hao;
	animation-duration: 30s;
	animation-delay: 10;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes hao{
	0%	{background-image: url(her1.jpg);}
	10% {background-image: url(her2.jpg);}
	20% {background-image: url(her3.jpg);}
	30% {background-image: url(her5.png);}
	40% {background-image: url(her6.jpg);}
	50% {background-image: url(her9.jpg);}
	60% {background-image: url(her9.jpg);}
	70% {background-image: url(her10.jpg);}
	80% {background-image: url(her11.jpg);}
	90% {background-image: url(her12.jpg);}
	100% {background-image: url(her13.jpg);}
}

@media (max-width: 880px){
	#contener{
	background-image: url(her1.jpg);
	background-size: cover;
	position: absolute;
	top:20%;
	left: 20%;
	width: 60%;
	height: 70%;
	border:solid;
}