*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;

}
header{
	display: flex;
	justify-content: space-between;
	background-color: lightgray;
	height: auto;
	width: 100%;
	position: fixed;
	top:0px;
}

#header-img{
	max-height: 100px;
	width:auto;
}

#nav-bar{
	align-self: center;
	font-weight:bold;
}
.nav-link{
	text-decoration: none;
	color: #000000;
	margin-right: 20px;
	font-size: 20px;
}
.nav-link:hover{
	color: gray;
}
#form{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
	font-size: 25px;
}

#email{
	padding-top: 15px;
	width: 350px;
	margin: auto;
	padding: 5px;
	border-radius: 8px;
	border:solid;
}

#submit{
	margin-top: 15px;
	width: 150px;
	height: 30px;
	line-height: 30px;

}

.caption{
	padding: 20px;
	font-size: 25px;
	text-align: center;
}

#video{
	display: block;
	margin: auto;

}

h3{
	background-color: gold;
	text-align: center;
	font-size: 30px;
	margin:auto;
	padding: 20px;
	border: solid;
	max-width: 400px;
	width:100%;
}

#Taycan{
	padding: 30px 10px 40px 10px;
	max-width: 700px;
	width: 100%;
	margin: auto;
}

#product{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

ul{
	list-style-type: dot;
	list-style-position: inside;
	text-align:justify;
}

.Taycan-car {
	margin-top: 5%;
	margin-bottom: 2%;
	width: 30%;
	padding:10px;
	margin-right: 0;
	border:solid;
	align-self: left;
}
img{
	max-width: 100%;
}
.Taycan-car:not(:last-child) {
	margin-right: 2%;
} 

.build{
	margin-top: 10px;
 	padding: 5px;
}
footer{
	display: flex;
	background: lightgray;
	justify-content: flex-end;
}
.footer{
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	padding: 20px;
	color: #000000;
}

@media(max-width: 800px){
	header {
		flex-direction: column;
		text-align: center;
	}
	#video{
		width: 100%;
	}
	#product{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.Taycan-car{
		width: 48%;
	}
